*.swp
*.swz
*.pyc
*.pyo
*.log
*.bak
*.pid
*.log
._*.h
._*.m
._*.*
*.o
tags.*
bld/*
tests/UnitTest++/src/*.d
tests/UnitTest++/src/*.o
tests/UnitTest++/src/tests/*.d
tests/UnitTest++/src/tests/*.o
tests/UnitTest++/src/Posix/*.d
tests/UnitTest++/src/Posix/*.o
tests/UnitTest++/src/Win32/*.d
tests/UnitTest++/src/Win32/*.o
tests/UnitTest++/libUnitTest++.a
tests/UnitTest++/TestUnitTest++
